@import '../../styles/variables.css';

.form-container{
    background-color: var(--blue-color);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    height: 100vh;
    display: flex;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.form>input{
    width: 250px;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
}


.close{
   position: absolute;
   top: 5px;
   right: 20px;
   color: var(--lightgray-color);
   cursor: pointer;

}

.close:hover{
    color: var(--white-color)
}

.close-icon{
    font-size: 28px;
}
.error-message{
    margin-top: -10px;
    margin-left: -70px;
    color:var(--error-color)
}
