@import '../../styles/variables.css';

.information-container{
    width: 600px;
}
.information{
    border: 1px solid var(--gray-color);
}

.cell{
    padding: 10px;
    border: 1px solid var(--gray-color) ;
    text-align: left;
}