@import '../../styles/variables.css';


.wheel{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 320px;
    height: 320px;
    margin-left: 10px;
    padding:20px;
}

.spinner-btn{
    margin-left: 35px;
    position: absolute;
    margin-top: 50%;
    background-color: var(--teal-color);
    color: var(--lightgray-color);
    box-shadow: 2px 1px 5px var(--black-color);
    border:none;
}
.spinner-btn:hover{
    box-shadow: 2px 3px 10px var(--black-color);
    color: var(--white-color);
}
.text{
    margin-left: 350px;
    position: absolute;
    margin-top: -100px;
    color: var(--lightgray-color);
}