@import '../../styles/variables.css';


.wheel{
    margin-top: 20px;
    /* margin-left: -150px; */
    margin-bottom: 20px;
    width: 320px;
    height: 320px;
    margin-left: 10px;
    padding:20px;
}

.spinner-btn{
    margin-left: 35px;
    position: absolute;
    margin-top: 280px;
}
.spinner-btn:hover{
    box-shadow: 2px 3px 10px var(--black-color);
}
.text{
    margin-left: 350px;
    position: absolute;
    margin-top: -100px;
    color: var(--lightgray-color);
}